.main-agregar-productos {
    display: flex;
    border: 2px solid black;
    background-color: azure;
    width: 100%;
    height: 100%;
    justify-content: center;
}


.formulario{
    display: flex;
    padding: 2%;
}