

.carousel-wrapper {
    max-width: 50%; // Ajusta el ancho del carrusel según tus necesidades
    margin: 0 auto; // Centra horizontalmente el carrusel
}

.carousel-item img {
    max-height: 100px; // Ajusta la altura máxima de las imágenes del carrusel
}

.small-circle {
    width: 100px; // Ajusta el ancho del círculo pequeño según tus necesidades
    height: auto; // Ajusta la altura del círculo pequeño según tus necesidades
    border: 2px solid black; // Agrega un borde negro de 2px al círculo pequeño
    border-radius: 50%; // Hace que el círculo pequeño tenga esquinas redondeadas
    display: block; // Asegura que el círculo pequeño se muestre como un bloque
    margin: 0 auto; // Centra horizontalmente el círculo pequeño
}

.custom-container {
    background-color: #f5f5f5; /* Reemplaza con el color de fondo que desees */
}

.custom-container-bootstrap .col,
.custom-container-bootstrap .row {
    margin: 0;
    padding: 0;
}
