.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    margin-bottom: 1%;
    height: 10vh;
    gap: 0.5rem;
}

.bag-icon {
    width: 2.5rem; /* Porcentaje o unidad relativa */
    height: auto;
    /* Otros estilos si los deseas, como color, margen, etc. */
}

.navbar > * {
    margin-right: 5rem; /* Porcentaje o unidad relativa */
    margin-left: 5rem; /* Porcentaje o unidad relativa */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
    }

    .navbar > * {
        margin: 1rem; /* Ajusta los márgenes según sea necesario */
    }
}

.links {
    /* Puedes agregar tus estilos aquí */
    color: red;
    text-decoration: none;
    margin-right: 10px;

    &:hover {
        /* Estilos cuando el mouse se encuentra sobre los elementos NavLink con la clase 'links' */
        /* Puedes agregar tus estilos aquí */
        text-decoration: underline;
    }
}
